# Assignment 4 - Text Analysis
An explanation this assignment could be found in the .pdf explanation document


## Materials to review for this assignment
<h4>From Moodle:</h4> 
<h5><u>Review the notebooks regarding the following python topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Working with strings</b> (tutorial 8 notebook)<br/>
&#x2714; <b>Text Analysis</b> (tutorial 9 notebook)<br/>
&#x2714; <b>Hebrew text analysis tools (tokenizer, wordnet)</b> (moodle example)<br/>
&#x2714; <b>(brief review) All previous notebooks</b><br/>
</div> 
<h5><u>Review the presentations regarding the following topics</u>:</h5>
<div class="alert alert-info">
&#x2714; <b>Text Analysis</b> (lecture 9 presentation)<br/>
&#x2714; <b>(brief review) All other presentations</b><br/>
</div>

## Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [1]:
# --------------------------------------
import pandas as pd
import numpy as np
# --------------------------------------


# --------------------------------------
# ------------- visualizations:
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
# --------------------------------------


# ---------------------------------------
import sklearn
from sklearn import preprocessing, metrics, pipeline, model_selection, feature_extraction 
from sklearn import naive_bayes, linear_model, svm, neural_network, neighbors, tree
from sklearn import decomposition, cluster

from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV 
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import mean_squared_error, r2_score, silhouette_score
from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import Perceptron, SGDClassifier
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
# ---------------------------------------


# ----------------- output and visualizations: 
import warnings
from sklearn.exceptions import ConvergenceWarning
warnings.simplefilter("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter("ignore", category=ConvergenceWarning)
# show several prints in one cell. This will allow us to condence every trick in one cell.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline
pd.pandas.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# ---------------------------------------

### Text analysis and String manipulation imports:

In [2]:
# --------------------------------------
# --------- Text analysis and Hebrew text analysis imports:
# vectorizers:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

# regular expressions:
import re
# --------------------------------------

### (optional) Hebrew text analysis - WordNet (for Hebrew)
Note: the WordNet is not a must

#### (optional) Only if you didn't install Wordnet (for Hebrew) use:

In [3]:
!pip install wn
!python -m wn download omw-he:1.4

Requirement already satisfied: wn in c:\programdata\anaconda3\lib\site-packages (0.9.1)
Requirement already satisfied: tomli in c:\programdata\anaconda3\lib\site-packages (from wn) (2.0.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from wn) (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->wn) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->wn) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->wn) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->wn) (2.10)

Cached file found: C:\Users\ניקה לומשוילי\.wn_data\downloads\7ecf10e89326bc0ac26ad94b40fe60a7b6ac3302

Checking C:\Users\D0A7~1\AppData\Local\Temp\tmpo_nj85n9\omw-he\omw-he.xml
Skipping omw-he:1.4 (Hebrew Wordnet); already added

In [4]:
# word net
import wn

### (optional) Hebrew text analysis - hebrew_tokenizer (Tokenizer for Hebrew)
Note: the hebrew_tokenizer is not a must

#### (optional) Only if you didn't install hebrew_tokenizer use:

In [5]:
!pip install hebrew_tokenizer

Requirement already satisfied: hebrew_tokenizer in c:\programdata\anaconda3\lib\site-packages (2.3.0)

In [6]:
# tokenizer:
import hebrew_tokenizer as ht

C:\Users\ניקה לומשוילי\Desktop\לימודים\תואר\שנה ג\סמסטר א\למידת מחשב\anssignment4-text_analysis_data_files (2)

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [7]:
train_filename = 'annotated_corpus_for_train.csv'
test_filename  = 'corpus_for_test.csv'
df_train = pd.read_csv(train_filename, index_col=None, encoding='utf-8')
df_test  = pd.read_csv(test_filename, index_col=None, encoding='utf-8')

In [8]:
df_train.head(8)
df_train.shape
df_test.head()

                                               story gender
0  כשחבר הזמין אותי לחול, לא באמת חשבתי שזה יקרה,...      m
1  לפני שהתגייסתי לצבא עשיתי כל מני מיונים ליחידו...      m
2  מאז שהתחילו הלימודים חלומו של כל סטודנט זה הפנ...      f
3  כשהייתי ילד, מטוסים היה הדבר שהכי ריתק אותי. ב...      m
4  ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...      f
5  לפני כ3 חודשים טסתי לרומא למשך שבוע. טסתי במטו...      f
6  אני כבר שנתיים נשוי והשנה אני ואישתי סוף סוף י...      m
7  השנה התחלנו שיפוץ בדירה שלנו בתל אביב. הדירה ה...      f

(753, 2)

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...
3                3  רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי, אני...
4                4  אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...

In [9]:
df_test.head(3)

   test_example_id                                              story
0                0  כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...
1                1  הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת "...
2                2  אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...

### Your implementation:
Write your code solution in the following code-cells

In [10]:
df_train.gender.replace({'f':0,'m':1},inplace=True)
dfg=df_train['gender']
dfg.head(8)

0    1
1    1
2    0
3    1
4    0
5    0
6    1
7    0
Name: gender, dtype: int64

In [11]:
# YOUR CODE HERE
text_clf_nb = Pipeline([
    #('vect', TfidfVectorizer(token_pattern=r"[א-ת*]+",max_features= 10000,max_df=0.5,ngram_range=(1,2),min_df=0.0)),
   ('vect', CountVectorizer(token_pattern=r"[א-ת*]+",max_features= 10000,max_df=1.0,ngram_range=(1,2),min_df=0.0)),
    ('norm', StandardScaler(with_mean=False,copy=True)),
    #('norm', StandardScaler(with_mean=False,copy=True)),
    #('clf_nb', SGDClassifier(alpha=1e-05,penalty= 'l2',max_iter=80)),
    ('clf_nb', SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, random_state=42, max_iter=5, tol=None))
])

In [21]:
# YOUR CODE HERE
Xfeatures = df_train['story']
Y_train_counts = df_train.gender
xxxx=df_test["story"]

In [13]:
def Average(lst):
    return sum(lst) / len(lst)

In [14]:
# YOUR CODE HERE
t=cross_val_score(text_clf_nb,Xfeatures,Y_train_counts, cv=10,scoring='f1_macro')

print(t)

[0.77268195 0.69690927 0.60599078 0.79166667 0.62779156 0.65277778
 0.66977467 0.70641373 0.67082467 0.6031746 ]

In [15]:
text_clf_nb.fit(Xfeatures,Y_train_counts)

Pipeline(steps=[('vect',
                 CountVectorizer(max_features=10000, min_df=0.0,
                                 ngram_range=(1, 2), token_pattern='[א-ת*]+')),
                ('norm', StandardScaler(with_mean=False)),
                ('clf_nb',
                 SGDClassifier(alpha=0.001, max_iter=5, random_state=42,
                               tol=None))])

In [16]:
average = Average(t)
print(average)

0.6798005692028972

In [17]:
#cross_val_score(text_clf_nb, xxxx, df_gender, cv=5,scoring='f1_macro')

### Save output to csv
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [18]:
df_copy = df_test.copy()

In [22]:
df_copy['predicted_category'] = text_clf_nb.predict(xxxx)
df_copy.predicted_category.replace({0:'f',1:'m'},inplace=True)

df_copy.head(100)

,test_example_id,story,predicted_category
0,0,כל קיץ אני והמשפחה נוסעים לארצות הברית לוס אנג...,m
1,1,"הגעתי לשירות המדינה אחרי שנתיים כפעיל בתנועת ""...",m
2,2,אחת האהבות הגדולות שלי אלו הכלבים שלי ושל אישת...,m
3,3,"רגע הגיוס לצבא היה הרגע הכי משמעותי עבורי, אני...",m
4,4,אני הגעתי לברזיל ישר מקולומביה וגם אני עשיתי ע...,m
...,...,...,...
95,95,לפני כשלוש שנים חבר הסביר לי על טכנולוגיית הבל...,m
96,96,סיפור הבריחה שלי מצפון קוריאה מתחיל בעיר הולדת...,m
97,97,נסעתי עם אשתי לפני כמה חודשים לקמפינג ליד אילת...,m
98,98,קצת לפני תחילת הלימודים התחלתי לעבוד בחברה המס...,m
99,99,יש לי בן זוג כבר שנתיים וממש לפני שהקורונה התח...,f

In [23]:
df_predicted = df_copy.copy()
df_predicted.drop(['story',], axis=1, inplace=True)
df_predicted.head(8)

   test_example_id predicted_category
0                0                  m
1                1                  m
2                2                  m
3                3                  m
4                4                  m
5                5                  m
6                6                  m
7                7                  m

In [24]:
df_predicted.to_csv('classification_results.csv',index=False)